* {
  outline: 1px solid red; }

.tapita {
  z-index: 1;
  position: fixed;
  width: 100%; }

.tto {
  margin-top: 7px; }

/* TABS */
.tabs {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  font-weight: 300;
  font-size: 1.25em; }
  .tabs nav {
    text-align: center; }
    .tabs nav ul {
      position: relative;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: flex;
      margin: 0 auto;
      padding: 0;
      max-width: 1200px;
      list-style: none;
      -ms-box-orient: horizontal;
      -ms-box-pack: center;
      -webkit-flex-flow: row wrap;
      -moz-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      justify-content: center; }
      .tabs nav ul li {
        position: relative;
        z-index: 1;
        display: block;
        margin: 0;
        text-align: center;
        -webkit-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        flex: 1; }
        .tabs nav ul li a {
          position: relative;
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          line-height: 2.5; }
          .tabs nav ul li a span {
            vertical-align: middle;
            font-size: 0.75em; }

/* EFECTOS DE MENU*/
.tabs nav li.tab-current a {
  color: #a5a1a1; }

.tabs nav a:focus {
  outline: none; }

.tabs-style-linebox nav ul li {
  margin: 0 0.5em;
  -webkit-flex: none;
  flex: none; }

.tabs-style-linebox nav a {
  padding: 0 1.5em;
  color: #a5a1a1;
  font-weight: 700;
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }

.tabs-style-linebox nav a:hover,
.tabs-style-linebox nav a:focus {
  color: black; }

.tabs-style-linebox nav li.tab-current a {
  color: white; }

.tabs-style-linebox nav a::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #a5a1a1;
  content: '';
  -webkit-transition: background-color 0.3s, -webkit-transform 0.3s;
  transition: background-color 0.3s, transform 0.3s;
  -webkit-transition-timing-function: ease, cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: ease, cubic-bezier(0.7, 0, 0.3, 1);
  -webkit-transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0);
  transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0); }

.tabs-style-linebox nav li.tab-current a::after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.tabs-style-linebox nav a:hover::after,
.tabs-style-linebox nav a:focus::after,
.tabs-style-linebox nav li.tab-current a::after {
  background: black; }

.fondo {
  background-image: url(http://4.bp.blogspot.com/-N-_O8xhCmWw/VR7tQcw7wEI/AAAAAAAA4tI/okS-L3Kn28U/s1600/design_collage_by_wilson_naraku.jpg);
  background-position: right;
  background-size: cover;
  color: black; }

.frase {
  padding: 190px 20px;
  text-align: left;
  background-color: rgba(129, 126, 126, 0.39);
  font-family: 'Open Sans', sans-serif; }

.tti {
  font-family: 'Oswald', sans-serif; }

.boton1 {
  padding: 10px 10px;
  background-color: #f8a16b;
  border-radius: 20px;
  border: none;
  font-size: 12px; }

.container_carru {
  background: #ddd8d8;
  position: relative;
  /*cierre actions*/
  /*cierre items*/ }
  .container_carru #actions #arrowrigth .arrowrigth {
    cursor: pointer;
    top: 50%;
    width: 5%;
    position: absolute;
    z-index: 201;
    right: 0;
    -webkit-transform: rotate(268deg);
    -moz-transform: rotate(268deg);
    -o-transform: rotate(268deg);
    transform: rotate(268deg); }
  .container_carru #actions #arrowleft .arrowleft {
    cursor: pointer;
    top: 50%;
    width: 5%;
    position: absolute;
    z-index: 201;
    left: 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg); }
  .container_carru #items {
    padding: 5%;
    cursor: move;
    z-index: 200;
    overflow: hidden;
    height: 750px;
    position: relative;
    /*lado izquierdo*/ }
    @media only screen and (max-width: 2150px) {
      .container_carru #items {
        height: 630px; } }
    @media only screen and (max-width: 2000px) {
      .container_carru #items {
        height: 570px; } }
    @media only screen and (max-width: 1900px) {
      .container_carru #items {
        height: 540px; } }
    @media only screen and (max-width: 1780px) {
      .container_carru #items {
        height: 500px; } }
    @media only screen and (max-width: 1680px) {
      .container_carru #items {
        height: 470px; } }
    @media only screen and (max-width: 1565px) {
      .container_carru #items {
        height: 420px; } }
    @media only screen and (max-width: 1430px) {
      .container_carru #items {
        height: 390px; } }
    @media only screen and (max-width: 1330px) {
      .container_carru #items {
        height: 360px; } }
    @media only screen and (max-width: 1230px) {
      .container_carru #items {
        height: 330px; } }
    @media only screen and (max-width: 970px) {
      .container_carru #items {
        height: 310px; } }
    @media only screen and (max-width: 875px) {
      .container_carru #items {
        height: 270px; } }
    @media only screen and (max-width: 785px) {
      .container_carru #items {
        height: 240px; } }
    @media only screen and (max-width: 700px) {
      .container_carru #items {
        height: 235px; } }
    @media only screen and (max-width: 640px) {
      .container_carru #items {
        height: 150px; } }
    @media only screen and (max-width: 400px) {
      .container_carru #items {
        height: 125px; } }
    .container_carru #items #item {
      display: none;
      height: 80%;
      position: absolute; }
    .container_carru #items .img_left {
      display: block !important;
      left: 50%;
      opacity: .4;
      z-index: 0;
      -webkit-transform: translateX(-100%) scale(0.9);
      -moz-transform: translateX(-100%) scale(0.9);
      -o-transform: translateX(-100%) scale(0.9);
      transform: translateX(-100%) scale(0.9); }
    .container_carru #items .img_rigth {
      display: block !important;
      left: 50%;
      opacity: .4;
      -webkit-transform: translateX(0%) scale(0.9);
      -moz-transform: translateX(0%) scale(0.9);
      -o-transform: translateX(0%) scale(0.9);
      transform: translateX(0%) scale(0.9);
      z-index: 0; }
    .container_carru #items .img_center {
      display: block !important;
      left: 50%;
      -webkit-transform: translateX(-50%) scale(1);
      -moz-transform: translateX(-50%) scale(1);
      -o-transform: translateX(-50%) scale(1);
      transform: translateX(-50%) scale(1);
      z-index: 90; }
    .container_carru #items .animaterigthR {
      -webkit-animation-name: rigthR;
      animation-name: rigthR;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-timing-function: ease;
      animation-timing-function: ease; }
@keyframes rigthR {
  0% {
    opacity: 1;
    -webkit-transform: translateX(-50%) scale(1);
    -moz-transform: translateX(-50%) scale(1);
    -o-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
    z-index: 90; }
  30% {
    opacity: 1;
    -webkit-transform: translateX(10%) scale(0.94);
    -moz-transform: translateX(10%) scale(0.94);
    -o-transform: translateX(10%) scale(0.94);
    transform: translateX(10%) scale(0.94);
    z-index: 50; }
  100% {
    opacity: .4;
    -webkit-transform: translateX(0%) scale(0.9);
    -moz-transform: translateX(0%) scale(0.9);
    -o-transform: translateX(0%) scale(0.9);
    transform: translateX(0%) scale(0.9);
    z-index: 0; } }
@-webkit-keyframes rigthR {
  0% {
    opacity: 1;
    -webkit-transform: translateX(-50%) scale(1);
    -moz-transform: translateX(-50%) scale(1);
    -o-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
    z-index: 90; }
  30% {
    opacity: 1;
    -webkit-transform: translateX(10%) scale(0.94);
    -moz-transform: translateX(10%) scale(0.94);
    -o-transform: translateX(10%) scale(0.94);
    transform: translateX(10%) scale(0.94);
    z-index: 50; }
  100% {
    opacity: .4;
    -webkit-transform: translateX(0%) scale(0.9);
    -moz-transform: translateX(0%) scale(0.9);
    -o-transform: translateX(0%) scale(0.9);
    transform: translateX(0%) scale(0.9);
    z-index: 0; } }
    .container_carru #items .animaterigthL {
      -webkit-animation-name: rigthL;
      -webkit-animation-duration: 1s;
      -webkit-animation-timing-function: ease;
      animation-name: rigthL;
      animation-duration: 1s;
      animation-timing-function: ease; }
@keyframes rigthL {
  0% {
    left: 50%;
    opacity: .1;
    -webkit-transform: translateX(0%) scale(0.9);
    -moz-transform: translateX(0%) scale(0.9);
    -o-transform: translateX(0%) scale(0.9);
    transform: translateX(0%) scale(0.9);
    z-index: 0; }
  100% {
    left: 50%;
    opacity: .4;
    z-index: 0;
    -webkit-transform: translateX(-100%) scale(0.9);
    -moz-transform: translateX(-100%) scale(0.9);
    -o-transform: translateX(-100%) scale(0.9);
    transform: translateX(-100%) scale(0.9); } }
@-webkit-keyframes rigthL {
  0% {
    left: 50%;
    opacity: .1;
    -webkit-transform: translateX(0%) scale(0.9);
    -moz-transform: translateX(0%) scale(0.9);
    -o-transform: translateX(0%) scale(0.9);
    transform: translateX(0%) scale(0.9);
    z-index: 0; }
  100% {
    left: 50%;
    opacity: .4;
    z-index: 0;
    -webkit-transform: translateX(-100%) scale(0.9);
    -moz-transform: translateX(-100%) scale(0.9);
    -o-transform: translateX(-100%) scale(0.9);
    transform: translateX(-100%) scale(0.9); } }
    .container_carru #items .animaterigthC {
      -webkit-animation-name: rigthC;
      -webkit-animation-duration: 1s;
      -webkit-animation-timing-function: ease;
      animation-name: rigthC;
      animation-duration: 1s;
      animation-timing-function: ease; }
@keyframes rigthC {
  0% {
    left: 50%;
    opacity: .4;
    z-index: 0;
    -webkit-transform: translateX(-100%) scale(0.9);
    -moz-transform: translateX(-100%) scale(0.9);
    -o-transform: translateX(-100%) scale(0.9);
    transform: translateX(-100%) scale(0.9); }
  20% {
    left: 50%;
    opacity: 1;
    z-index: 0;
    -webkit-transform: translateX(-110%) scale(0.94);
    -moz-transform: translateX(-110%) scale(0.94);
    -o-transform: translateX(-110%) scale(0.94);
    transform: translateX(-110%) scale(0.94);
    z-index: 50; }
  100% {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 90; } }
@-webkit-keyframes rigthC {
  0% {
    left: 50%;
    opacity: .4;
    z-index: 0;
    -webkit-transform: translateX(-100%) scale(0.9);
    -moz-transform: translateX(-100%) scale(0.9);
    -o-transform: translateX(-100%) scale(0.9);
    transform: translateX(-100%) scale(0.9); }
  20% {
    left: 50%;
    opacity: 1;
    z-index: 0;
    -webkit-transform: translateX(-110%) scale(0.94);
    -moz-transform: translateX(-110%) scale(0.94);
    -o-transform: translateX(-110%) scale(0.94);
    transform: translateX(-110%) scale(0.94);
    z-index: 50; }
  100% {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 90; } }
    .container_carru #items .animateleftL {
      -webkit-animation-name: leftL;
      -webkit-animation-duration: 1s;
      -webkit-animation-timing-function: ease;
      animation-name: leftL;
      animation-duration: 1s;
      animation-timing-function: ease; }
@keyframes leftL {
  0% {
    left: 50%;
    opacity: 1;
    -webkit-transform: translateX(-50%) scale(1);
    -moz-transform: translateX(-50%) scale(1);
    -o-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
    z-index: 90; }
  30% {
    left: 50%;
    opacity: 1;
    z-index: 0;
    -webkit-transform: translateX(-110%) scale(0.94);
    -moz-transform: translateX(-110%) scale(0.94);
    -o-transform: translateX(-110%) scale(0.94);
    transform: translateX(-110%) scale(0.94);
    z-index: 50; }
  100% {
    left: 50%;
    opacity: .4;
    z-index: 0;
    -webkit-transform: translateX(-100%) scale(0.9);
    -moz-transform: translateX(-100%) scale(0.9);
    -o-transform: translateX(-100%) scale(0.9);
    transform: translateX(-100%) scale(0.9); } }
@-webkit-keyframes leftL {
  0% {
    left: 50%;
    opacity: 1;
    -webkit-transform: translateX(-50%) scale(1);
    -moz-transform: translateX(-50%) scale(1);
    -o-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
    z-index: 90; }
  30% {
    left: 50%;
    opacity: 1;
    z-index: 0;
    -webkit-transform: translateX(-110%) scale(0.94);
    -moz-transform: translateX(-110%) scale(0.94);
    -o-transform: translateX(-110%) scale(0.94);
    transform: translateX(-110%) scale(0.94);
    z-index: 50; }
  100% {
    left: 50%;
    opacity: .4;
    z-index: 0;
    -webkit-transform: translateX(-100%) scale(0.9);
    -moz-transform: translateX(-100%) scale(0.9);
    -o-transform: translateX(-100%) scale(0.9);
    transform: translateX(-100%) scale(0.9); } }
    .container_carru #items .animateleftR {
      -webkit-animation-name: leftR;
      -webkit-animation-duration: 1s;
      -webkit-animation-timing-function: ease;
      animation-name: leftR;
      animation-duration: 1s;
      animation-timing-function: ease; }
@keyframes leftR {
  0% {
    left: 50%;
    opacity: .1;
    z-index: 0;
    -webkit-transform: translateX(-100%) scale(0.9);
    -moz-transform: translateX(-100%) scale(0.9);
    -o-transform: translateX(-100%) scale(0.9);
    transform: translateX(-100%) scale(0.9); }
  100% {
    left: 50%;
    opacity: .4;
    -webkit-transform: translateX(0%) scale(0.9);
    -moz-transform: translateX(0%) scale(0.9);
    -o-transform: translateX(0%) scale(0.9);
    transform: translateX(0%) scale(0.9);
    z-index: 0; } }
@-webkit-keyframes leftR {
  0% {
    left: 50%;
    opacity: .1;
    z-index: 0;
    -webkit-transform: translateX(-100%) scale(0.9);
    -moz-transform: translateX(-100%) scale(0.9);
    -o-transform: translateX(-100%) scale(0.9);
    transform: translateX(-100%) scale(0.9); }
  100% {
    left: 50%;
    opacity: .4;
    -webkit-transform: translateX(0%) scale(0.9);
    -moz-transform: translateX(0%) scale(0.9);
    -o-transform: translateX(0%) scale(0.9);
    transform: translateX(0%) scale(0.9);
    z-index: 0; } }
    .container_carru #items .animateleftC {
      -webkit-animation-name: leftC;
      -webkit-animation-duration: 1s;
      -webkit-animation-timing-function: ease;
      animation-name: leftC;
      animation-duration: 1s;
      animation-timing-function: ease; }
@-webkit-keyframes leftC {
  0% {
    opacity: .4;
    -webkit-transform: translateX(0%) scale(0.9);
    -moz-transform: translateX(0%) scale(0.9);
    -o-transform: translateX(0%) scale(0.9);
    transform: translateX(0%) scale(0.9);
    z-index: 0; }
  20% {
    opacity: 1;
    -webkit-transform: translateX(10%) scale(0.94);
    -moz-transform: translateX(10%) scale(0.94);
    -o-transform: translateX(10%) scale(0.94);
    transform: translateX(10%) scale(0.94);
    z-index: 0; }
  100% {
    opacity: 1;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 90; } }
@keyframes leftC {
  0% {
    opacity: .4;
    -webkit-transform: translateX(0%) scale(0.9);
    -moz-transform: translateX(0%) scale(0.9);
    -o-transform: translateX(0%) scale(0.9);
    transform: translateX(0%) scale(0.9);
    z-index: 0; }
  20% {
    opacity: 1;
    -webkit-transform: translateX(10%) scale(0.94);
    -moz-transform: translateX(10%) scale(0.94);
    -o-transform: translateX(10%) scale(0.94);
    transform: translateX(10%) scale(0.94);
    z-index: 0; }
  100% {
    opacity: 1;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 90; } }
.skills {
  padding: 70px 20px; }
  .skills .content .development-wrapper .development-title {
    color: #3c3c3c;
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px; }
  .skills .content .development-wrapper .skills-bar-container {
    position: relative;
    width: 100%;
    list-style-type: none;
    padding-left: 0px; }
    .skills .content .development-wrapper .skills-bar-container li {
      width: 100%;
      margin-bottom: 20px; }
      .skills .content .development-wrapper .skills-bar-container li .progressbar-title {
        color: #3c3c3c;
        margin-bottom: 5px; }
        .skills .content .development-wrapper .skills-bar-container li .progressbar-title h3 {
          display: inline-block; }
        .skills .content .development-wrapper .skills-bar-container li .progressbar-title .percent {
          position: absolute;
          right: 20px;
          font-size: 1.1em; }
      .skills .content .development-wrapper .skills-bar-container li .bar-container {
        background: #ececec;
        position: relative;
        width: 100%;
        height: 10px;
        margin-top: 5px; }
        .skills .content .development-wrapper .skills-bar-container li .bar-container .progressbar {
          background: #34495e;
          position: absolute;
          width: 0%;
          height: 100%; }

/*# sourceMappingURL=main.css.map */
