* {
  outline: 1px solid red; }

.tapita {
  z-index: 1;
  position: fixed;
  width: 100%; }

.tto {
  margin-top: 7px; }

/* TABS */
.tabs {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  font-weight: 300;
  font-size: 1.25em; }
  .tabs nav {
    text-align: center; }
    .tabs nav ul {
      position: relative;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: flex;
      margin: 0 auto;
      padding: 0;
      max-width: 1200px;
      list-style: none;
      -ms-box-orient: horizontal;
      -ms-box-pack: center;
      -webkit-flex-flow: row wrap;
      -moz-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      justify-content: center; }
      .tabs nav ul li {
        position: relative;
        z-index: 1;
        display: block;
        margin: 0;
        text-align: center;
        -webkit-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        flex: 1; }
        .tabs nav ul li a {
          position: relative;
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          line-height: 2.5; }
          .tabs nav ul li a span {
            vertical-align: middle;
            font-size: 0.75em; }

/* EFECTOS DE MENU*/
.tabs nav li.tab-current a {
  color: #a5a1a1; }

.tabs nav a:focus {
  outline: none; }

.tabs-style-linebox nav ul li {
  margin: 0 0.5em;
  -webkit-flex: none;
  flex: none; }

.tabs-style-linebox nav a {
  padding: 0 1.5em;
  color: #a5a1a1;
  font-weight: 700;
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }

.tabs-style-linebox nav a:hover,
.tabs-style-linebox nav a:focus {
  color: black; }

.tabs-style-linebox nav li.tab-current a {
  color: white; }

.tabs-style-linebox nav a::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #a5a1a1;
  content: '';
  -webkit-transition: background-color 0.3s, -webkit-transform 0.3s;
  transition: background-color 0.3s, transform 0.3s;
  -webkit-transition-timing-function: ease, cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: ease, cubic-bezier(0.7, 0, 0.3, 1);
  -webkit-transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0);
  transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0); }

.tabs-style-linebox nav li.tab-current a::after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.tabs-style-linebox nav a:hover::after,
.tabs-style-linebox nav a:focus::after,
.tabs-style-linebox nav li.tab-current a::after {
  background: black; }

.fondo {
  background-image: url(../fotos/_MG_4787.JPG);
  background-position: right;
  background-size: cover;
  color: #FFF; }

.frase {
  padding: 190px 20px;
  text-align: left;
  background-color: rgba(129, 126, 126, 0.39);
  font-family: 'Open Sans', sans-serif; }

.tti {
  font-family: 'Oswald', sans-serif; }

.boton1 {
  padding: 10px 10px;
  background-color: #f8a16b;
  border-radius: 20px;
  border: none;
  font-size: 12px; }

.skills {
  padding: 70px 20px; }
  .skills .content .development-wrapper .development-title {
    color: #3c3c3c;
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px; }
  .skills .content .development-wrapper .skills-bar-container {
    position: relative;
    width: 100%;
    list-style-type: none;
    padding-left: 0px; }
    .skills .content .development-wrapper .skills-bar-container li {
      width: 100%;
      margin-bottom: 20px; }
      .skills .content .development-wrapper .skills-bar-container li .progressbar-title {
        color: #3c3c3c;
        margin-bottom: 5px; }
        .skills .content .development-wrapper .skills-bar-container li .progressbar-title h3 {
          display: inline-block; }
        .skills .content .development-wrapper .skills-bar-container li .progressbar-title .percent {
          position: absolute;
          right: 20px;
          font-size: 1.1em; }
      .skills .content .development-wrapper .skills-bar-container li .bar-container {
        background: #ececec;
        position: relative;
        width: 100%;
        height: 10px;
        margin-top: 5px; }
        .skills .content .development-wrapper .skills-bar-container li .bar-container .progressbar {
          background: #34495e;
          position: absolute;
          width: 0%;
          height: 100%; }

/*# sourceMappingURL=main.css.map */
