
.fondo{
    background-image: url(http://4.bp.blogspot.com/-N-_O8xhCmWw/VR7tQcw7wEI/AAAAAAAA4tI/okS-L3Kn28U/s1600/design_collage_by_wilson_naraku.jpg);
    background-position: right;
    background-size: cover;
    color:$black-hunt;
}

.frase
{
	padding: 190px 20px;
	text-align:left;
    background-color:rgba(129, 126, 126, 0.39);
    font-family: 'Open Sans', sans-serif;
}

.tti{
    
    font-family: 'Oswald', sans-serif;
}


.boton1{
    padding: 10px 10px;
    background-color: rgb(248, 161, 107);
    border-radius: 20px;
    border: none;
    font-size: 12px;
    
    
}