.fondo{
    background-image: url(../fotos/_MG_4787.JPG);
    background-position: right;
    background-size: cover;
    color: #FFF;
}

.frase
{
	padding: 190px 20px;
	text-align:left;
    background-color: rgba(129, 126, 126, 0.39);
    font-family: 'Open Sans', sans-serif;
}

.tti{
    
    font-family: 'Oswald', sans-serif;
}


.boton1{
    padding: 10px 10px;
    background-color: rgb(248, 161, 107);
    border-radius: 20px;
    border: none;
    font-size: 12px;
    
    
}